.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 3px 5px 0px;
            display: block;
            float: left;
        }
    }
    a {
        border: 1px solid $secondaryColor;
        padding: .4em 1em;
        display: block;
        color: $secondaryColor;
        box-sizing: border-box;
        border-radius:50px;
        &:hover,
        &:focus,
        &.active {
            color: #FFF;
            background: $secondaryColor;
            box-shadow: none;
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}